version: "3.9"

services:
  api:
    build: .
    container_name: rt-leaderboard-api
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      - REDIS_ADDR=redis:6379
      - REDIS_PASSWORD=
    volumes:
      - .:/app
    working_dir: /app
    command: go run cmd/main.go

  redis:
    image: redis:7.2
    container_name: rt-leaderboard-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
